---
title: Deviens Mentor et enseigne aux étudiants de MyMentor
---

<div id="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'teaching.jpg' %>);">
  <div id="logo">
    <a href="http://www.mymentor.fr">
      <%= image_tag 'logo.png', alt: 'MyMentor' %>
    </a>
  </div>
  <div class="content">
    <h1>Deviens le Mentor d’étudiants</h1>
    <p>Partage tes connaissances lors de cours à domicile et génère des revenus significatifs selon ton emploi du temps.</p>
    <a href="https://mymentor.fr/candidature" class="btn btn-lg btn-success">S'engager</a>
  </div>
</div>

<div id="reasons-section">
  <div class="container">
    <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
            <p>Nous permettons aux élèves de trouver leur Mentor idéal pour réussir leurs études et démarrer leur vie active dans les meilleures conditions. Prêt à vous engager en tant que Mentor ?</p>
          </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-xs-12 col-sm-3 text-center">
          <%= image_tag 'fast.png' %>
          <p><strong>Un 1<sup>er</sup> élève sous une semaine</strong><br />
            Chaque jour, reçois des demandes de proximité qui correspondent à ton profil.
          </p>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
          <%= image_tag 'earnings.png' %>
          <p><strong>Des revenus significatifs</strong><br />
            Postule aux annonces en fixant ton tarif et gagne jusqu’à 1000€/mois
          </p>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
          <%= image_tag 'angel.png' %>
          <p><strong>Un job qui a du sens</strong><br />
            Point de livraison en vélo, ici tu permets à tes élèves de réussir leur scolarité.
          </p>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
          <%= image_tag 'verif-id.png' %>
          <p><strong>Des cours en toute sérénité</strong><br />
            Toutes nos demandes sont vérifiées et MyMentor est garant de tes paiements.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="requests">
  <div class="container">
    <h2>Les demandes de cours aujourd'hui<br>
    <small>(niveau collège, lycée, études supérieures)</small></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="card-request">
              <a href="https://mymentor.fr/candidature">
                <div class="icon-subject" style="background-image: url(<%= image_path 'icon-math.png' %>);">
                </div>
                <div style="margin-left: 10px; margin-top: 5px; font-size: 16px; width: 80%">
                  <h3>Cours de Math MPSI</h3>
                  8h/semaine dès le 25/05<br>
                  à Courbevoie entre <span class="colored">30€ et 40€</span><br>
                   <span class="colored" style="font-weight: 500">> postuler</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card-request">
              <a href="https://mymentor.fr/candidature">
                <div class="icon-subject" style="background-image: url(<%= image_path 'icon-langage.png' %>);">
                </div>
                <div style="margin-left: 10px; margin-top: 5px; font-size: 16px; width: 80%">
                  <h3>Cours d'anglais 6<sup>ème</sup></h3>
                  2h/semaine dès le 25/05 <br>
                  à Villeurbanne entre <span class="colored">15€ et 20€</span><br>
                  <span class="colored" style="font-weight: 500">> postuler</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card-request">
              <a href="https://mymentor.fr/candidature">
                <div class="icon-subject" style="background-image: url(<%= image_path 'icon-math.png' %>);">
                </div>
                <div style="margin-left: 10px; margin-top: 5px; font-size: 16px; width: 80%">
                  <h3>Cours de Math 2<sup>nde</sup></h3>
                  1h30/semaine dès le 25/05<br>
                  à Lyon 3<sup>ème</sup> entre <span class="colored">18€ et 24€</span><br>
                  <span class="colored" style="font-weight: 500">> postuler</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card-request">
              <a href="https://mymentor.fr/candidature">
                <div class="icon-subject" style="background-image: url(<%= image_path 'icon-literature.png' %>);">
                </div>
                <div style="margin-left: 10px; margin-top: 5px; font-size: 16px; width: 80%">
                  <h3>Cours de Français 1<sup>ère</sup>S</h3>
                  4h/semaine dès le 25/05<br>
                  à Paris 16<sup>ème</sup> entre <span class="colored">18€ et 24€</span><br>
                  <span class="colored" style="font-weight: 500">> postuler</span>
                </div>
              </a>
            </div>
          </div>

          <!-- <div class="col-xs-12 col-sm-6">
            <div class="card-request">
              <a href="#">
                <div class="icon-subject" style="background-image: url(<%= image_path 'icon-physic.png' %>);">
                </div>
                <div style="margin-left: 10px; margin-top: 14px; font-size: 16px;width: 78%">
                  <h3>Cours de Math 2nde générale</h3>
                  1h/semaine à Lyon pour Mathieu<br>
                  <div class="card-request-details">
                    <span>
                      <strong>A partir du :</strong><br>
                      Mercredi 14 Juillet <br>
                    </span>
                    <span>
                      <strong>Rémunération</strong><br>
                      entre 18€ et 34€
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>

  </div>
</div>

<div id="setup">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="setup-details">
          <h2>Tu auras besoin de :</h2>
          <p>
            Prêt à devenir un Mentor ? Pour t'inscrire, tu as besoin de :
          </p>
          <ul>
            <li>La photo de ton meilleur profil</li>
            <li>Certificat de scolarité ou carte étudiante</li>
            <li>Copie de pièce d’identité</li>
            <li>15 minutes de libre devant ton ordinateur</li>
          </ul>
          <a href="https://mymentor.fr/candidature" class="btn btn-success">S'inscrire</a>
        </div>
      </div>
      <div class="hidden-xs col-sm-6" style="height: 366px; background-size: cover;background-image: url(<%= image_path 'mentor-relax.jpg' %>);">
      </div>
    </div>
  </div>
</div>
